<div id="back-button">
  {{#link-to "feed" tagName="i" class="flaticon-left-arrow7" id="iback-button"}}
  {{/link-to}}
</div>

<div class="lolipop full-post">
  {{#if model.img}}
    <div class="full-post-img">
      <img src={{model.img}} class="image-content">
    </div>
  {{/if}}
  <div class="full-post-text">
    <h1>{{model.title}}</h1>
    <div class="full-post-information">
      posted by {{model.user.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{moment-format model.created_at "DD.MM.YYYY"}}&nbsp;&nbsp;
        {{#each model.tags as |tag|}}
          <div class="tag">{{tag.name}}</div>&nbsp;
        {{/each}}
    </div>
    <p>
      {{model.text}}
    </p>
    <div class="clearfix"></div>
  </div>
</div>

{{#if session.isAuthenticated}}
  <div class="lolipop comment-input">
    <span class="comment-input-invite">Add your comment ({{model.comments.length}} Comments)</span>
    <div class="comment-textarea">{{textarea value=commentText}}</div>
    <button {{action "addComment"}} class="comment-send-button">Send</button>
    <div class="clearfix"></div>
  </div>
{{/if}}

{{#each model.comments as |comment|}}
  <div class="lolipop comment">
    <div class="comment-left">
      <img class="comment-avatar">
      <div class="clearfix"></div>
      <span class="comment-username">{{comment.user.name}}</span>
    </div>
    <div class="comment-right">
      <p>{{comment.message}}</p>
      <div class="comment-time-and-del">
        {{moment-format comment.created_at "HH:mm"}}
        {{moment-format comment.created_at "DD:MM:YYYY"}}
<!--         {{#if (eq session.currentUser.id comment.user.id)}}
        {{/if}} -->
          <button {{action "delComment" comment}} class="comment-del-button">Delete comment</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
{{/each}}