{{#each model as |post|}}
  <div class="feed-post">
    {{#if post.image}}
      <div class="lolipop feed-post-img">
        <img src={{post.image}} class="image-content">
      </div>
      <div class="feed-post-body">
        <div class="lolipop feed-post-header">
          <h1>
            {{#link-to "comments" post}}
              {{post.title}}
            {{/link-to}}
          </h1>
          {{#each post.tags as |tag|}}
            <span class="label label-default">{{tag.name}}</span>&nbsp;
          {{/each}}
        </div>
        <div class="lolipop feed-post-text">
          <p>{{post.text}}</p>
        </div>
      </div>
    {{else}}
      <div class="feed-post-body-noimg">
        <div class="lolipop feed-post-header">
          <h1>
            {{#link-to "comments" post}}
              {{post.title}}
            {{/link-to}}
          </h1>
          {{#each post.tags as |tag|}}
            <span class="label label-default">{{tag.name}}</span>&nbsp;
          {{/each}}
        </div>
        <div class="lolipop feed-post-text">
          <p>{{post.text}}</p>
        </div>
      </div>
    {{/if}}
    <div class="clearfix"></div>
  </div>
{{/each}}